body {
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, serif;
}

.sidebar-module-inset {
	position: fixed;
	margin:20px;
	margin-left:0px;
}

.doc-header {
	padding:20px 0;
	margin:20px 0;
}

.doc-main{
	background-color:#fff;
	border-right:1px solid rgba(0,0,0,.2);

}

h1.doc-title {
	font-weight:300;
	font-size:5rem;
	line-height:3rem;
}

h1.doc-title small {
	font-size:2rem;
	color:#ccc;
	font-weight:200;
}

article {
	border-bottom:1px solid #eee;
	margin:20px 0;
	padding:20px 40px 20px 0;
}

article p {margin-bottom:20px;}
article img.screen {
	margin:20px 0;
	padding:10px;
	border:1px solid #eee;
}

.bck{
background-color: #23282d;
width: 50%;
height: 100%;
display: block;
float: right;
position: absolute;
right: 0px;
overflow: hidden;
}

.sidebar-module{
	color:#fff;
}
.sidebar-module h4 {
	color:#fff;
}

pre {
	color: #fff;
background-color: #23282d;
padding: 10px;
border-radius: 3px;
}

.carbon-text, .carbon-img, .carbon-poweredby, .carbon-wrap, #carbonads{
	float:left;
width:auto;
	display:inline;
	width:100%;
}

.carbon-poweredby{
	color:#ccc;
	font-size:.75em;
}